{% extends "base.html" %}
<title>Issues</title>
{% block content %}

<h1>
  <a href={{ url_for('routes.repos_index', org_id=org.id) }}>{{ org.name }}</a> /
  <a href={{ url_for('routes.repos_show', org_id=org.id, repo_id=repo.id) }}>{{ repo.name }}</a>
</h1>

<h2>Issues</h2>

{% if repo_list %}
<div class="col-md-6">
  <ul class="list-group">
    {% for issue in issue_list %}
    <a
      href="/issues/{{ issue.id }}/"
      class="list-group-item list-group-item-action"
    >
      <b> {{ issue.name }} </b>
    </a>
    {% endfor %}
  </ul>
</div>
{% else %}
<p>This repository doesn't have any issues.</p>
{% endif %} {% endblock %}
