{% extends "base.html" %}
<title>Roles</title>
{% block content %}

<h1>
  <a href={{ url_for('routes.repos_index', org_id=org.id) }}>{{ org.name }}</a> /
  <a href={{ url_for('routes.repos_show', org_id=org.id, repo_id=repo.id) }}>{{ repo.name }}</a>
</h1>

<div class="col-md-6">
  <h2>People</h2>

  <ul class="list-group">
    {% for user_form in user_forms %}
    <form
      action={{ url_for('routes.repo_roles_index', org_id=org.id, repo_id=repo.id) }}
      method="POST"
    >
      {{ user_form.csrf_token }} {{ user_form.email }} {{ user_form.role }}
      <input type="submit" value="Submit" />
    </form>
    {% endfor %}
  </ul>
  <br />
  <h2>Teams</h2>
  <ul class="list-group">
    {% for team_form in team_forms %}
    <form
      action={{ url_for('routes.repo_roles_index', org_id=org.id, repo_id=repo.id) }}
      method="POST"
    >
      {{ team_form.csrf_token }} {{ team_form.team_name }} {{ team_form.role }}
      <input type="submit" value="Submit" />
    </form>
    {% endfor %}
  </ul>
</div>
{% endblock %}
