{% extends "base.html" %}
<title>View Repository</title>
{% block content %}
<h1>
  <a href={{ url_for('routes.repos_index', org_id=org_id) }}>{{ repo.organization.name }}</a>
  / {{ repo.name }}
</h1>

<br />

<h5>Commits: {{ commits }}</h5>
<h5>Contributors: {{ contributors }}</h5>
<h5>Last updated: {{ last_updated }}</h5>

<br />

<div>
  <a href={{ url_for('routes.issues_index', org_id=org_id, repo_id=repo.id) }}>
    <h4 class="text-primary">
      <b>
        <pre>View Issues</pre>
      </b>
    </h4>
  </a>
</div>

<br />

<div>
  <a href={{ url_for('routes.repo_roles_index', org_id=org_id, repo_id=repo.id) }}>
    <h4 class="text-primary">
      <b>
        <pre>Manage Access</pre>
      </b>
    </h4>
  </a>
</div>
<br />
<form action={{ url_for('routes.repos_show', org_id=org_id, repo_id=repo.id) }} method="POST">
  <button class="btn btn-primary" type="submit" name="delete_repo" value="">
    Delete Repository
  </button>
</form>

{% endblock %}
